html {
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  body {
    font-family: 'Montserrat';
    background-color: #1c1d25;
    color: white;
    margin: 0;
  }
  
  @media screen and (min-width: 480px) {
    body {
      background-color:;
    }
  }

  /* HEADER Start */
  #header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    background-color: #1c1d25;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 12;
  }
  
  #logo {
    height: auto;
    width: 70px;
  }
  
  #navbar {
  font-size: 125%
  }
  
  #nav-link {
    text-decoration: none;
    color: white;
    margin-right: 85px
  }
  
  #nav-link:hover {
    color: #f1be32;
  }
  
  #nav-link:last-of-type {
    margin-right: 0
  }
  /* HEADER End */


  
  /* WELCOME Start */
  #welcome-section {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
  }
  
  #welcome-logo {
    height: auto;
    width: 800px;
  }

  .welcome-logo {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
  }
  
  .aboutme {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-self: center;
  }
  
  #aboutme,
  #aboutme1,
  #aboutme2 {
    font-size: 150%;
    line-height: 1.3;
  }
  
  #socials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed; 
    right: 0px; 
    top: 396px; 
    height: 83px;
  }
  
  .social-logo {
    height: auto;
    width: 100px;
  }
  
  #profile-link:hover {
    content: url("img/github-logo-white.png");
  }
  #twitter:hover {
    content: url("img/twitter-logo-white.png");
  }
  #linkedin:hover {
    content: url("img/linkedin-logo-white.png");
  }
  /* WELCOME End */
  


  /* PROJECTS Start */
  #projects {
    background-color: #3A668C;
    height: 173vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }


/* PROJECT #1 START */
  .project-tile {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 1000px;
    margin-top: 120px;
    margin-left: 280px;
  }

  .project-tile img {
    height: auto;
    max-width: 100%;
    box-shadow: 10px 10px 5px #1f1d1d;
    vertical-align: middle;
  }

  #recipe-overlay-text {
    color: black; 
    text-shadow: 10px 10px 5px #1f1d1d;
    font-size: 300%; 
    min-width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
/* PROJECT #1 END */



/* PROJECT #2 START */
.project-tile2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 1000px;
  margin-top: 100px;
  margin-left: 580px;
  }

  .project-tile2 img {
    height: auto;
    max-width: 100%;
    box-shadow: 10px 10px 5px #1f1d1d;
    vertical-align: middle;
  }

  #nothing-overlay-text {
    color: #fff; 
    text-shadow: 10px 10px 5px #f1e3e3;
    font-size: 300%; 
    min-width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

/* PROJECT #2 END */
/* PROJECTS End */



/* PROFILE START */
 #profile {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
 }

 .profile-logo {
    align-self: center;
}

 #profile-logo {
    object-fit: cover;
    height: auto;
    width: 600px;
 }

 #thank-you {
    align-self: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
 }

 #aboutme3,
  #aboutme4,
  #aboutme5 {
    font-size: 150%;
    line-height: 1.3;
  }
/* PROFILE END */